.blogsection{
    /* Section- Blog */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 100px 56px;
gap: 68px;
height: 710px;
background: #F6F8FA;
flex: none;
order: 4;
flex-grow: 0;
width: 1349px;
}
.ourblog{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 246px;
height: 84px;
flex: none;
order: 0;
flex-grow: 0;
}
.ourblog-rtl{
    direction: rtl;
    margin-left: 970px;
}
.textblog{
width: 246px;
height: 28px;
font-family: 'IBM Plex Sans Arabic';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
color: #3C6085;
flex: none;
order: 0;
flex-grow: 0;
}
.textbloghd{
width: 130px;
height: 48px;
font-family: 'IBM Plex Sans Arabic';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
display: flex;
align-items: center;
color: #0A2540;
flex: none;
order: 1;
flex-grow: 0;

}
.blogcard{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;
height: 358px;
flex: none;
order: 1;
flex-grow: 0;

}

.blogcard1{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px; width: 399px;
height: 358px;
flex: none;
order: 0;
flex-grow: 0;
}
.cardimg{
/* Group 13 */

width: 399px;
height: 200px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.carddata{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 420px;
height: 126px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.blogtitle{
width: 77px;
height: 28px;
font-family: 'IBM Plex Sans Arabic';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
color: #0A2540;
flex: none;
order: 0;
flex-grow: 0;
}
.blogtitle-rtl{
    width: 100px;
    margin-left: 310px;
    text-align: right;
}
.blogdescription{
width: 429px;
height: 48px;
font-family: 'IBM Plex Sans Arabic';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #0A2540;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.blogdescription-rtl{
    width: 400px;
    text-align: right;
}
.blogdate{
width: 429px;
height: 18px;
font-family: 'IBM Plex Sans Arabic';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #0A2540;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.blogdate-rtl{
    text-align: right;
    padding-right: 30px;
}
.blogcard2{

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 429px;
height: 358px;
flex: none;
order: 1;
flex-grow: 0;


}
.blogcard3{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 429px;
height: 358px;
flex: none;
order: 2;
flex-grow: 0;

}

@media screen and (max-width: 375px){
    .blogsection{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px 16px;
gap: 32px;
width: 375px;
height: 1422px;
    }
    .ourblog{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 343px;
height: 84px;

    }
    .textblog{
width: 343px;
height: 34px;

    }
    .textbloghd{
width: 130px;
height: 48px;
font-weight: 700;
font-size: 32px;
line-height: 18px;
display: flex;
align-items: center;
    }
  .blogcard{
    /* Frame 20 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 343px;
height: 1210px;
  }
  .blogcard1{
    /* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;

width: 343px;
height: 382px;
  }
  .cardimg{
width: 343px;
height: 200px;
  }
  .carddata{
    /* Frame 8 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 343px;
height: 150px;
  }

  .blogdescription{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
font-size: large;
width: 343px;
height: 70px;
  }
  .blogdate{
font-size: large;
  }
  
}