@media (max-width: 2687px){
    .main-landanding{
   /* Desktop En: LandingPage Scrolling */
/* Desktop: LandingPage Scrolling */

position: relative;

height: 810px;

margin: auto;
background: #FFFFFF;

    }
  }